<h1> Lista de ToDos </h1>

<% @todos.each do |t| %>
  <div class="well">
    <h2> <%= t.description %> </h2>
    <button> <%= link_to 'Mostrar ToDo', todo_path(t.id), class:'btn btn-primary' %> </button>
    <button> <%= link_to 'Editar ToDo', edit_todo_path(t.id), class:'btn btn-success' %> </button>
    <button> <%= link_to "Borrar ToDo", t, method: :delete, data: {confirm: '¿Borrar ToDo?'}, class:'btn btn-danger' %> </button>
  </div>
<% end %>

<div class="btn-group btn-group-lg">

<%= link_to 'Crear ToDo', todos_new_path, class:'btn btn-warning' %>

</div>
